$text-gray: rgb(212, 212, 212);
.principalScreen {
  font-family: "Ubuntu Mono", monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  .model {
    height: 400px;
    width: 500px;
    @media screen and (max-width: 900px) {
      max-width: 100%;
    }
  }
  .containerText {
    font-size-adjust: unset;
    width: 500px;

    @media screen and (max-width: 900px) {
      max-width: 60%;
    }
    p {
      color: $text-gray;
    }
    .tittle {
      font-weight: 500;
      font-size: 4.5rem;
      line-height: 1;
      @media screen and (max-width: 900px) {
        font-size: 3rem;
      }
    }
    h2 {
      font-weight: 500;
      font-size: 4.5rem;
      width: 0;
      line-height: 1;
      user-select: none;
      white-space: nowrap;
      overflow: hidden;
      border-right: 0.15em solid #18bdec;
      animation: typing 4s steps(38) 1s 1 normal both,
        blink 1s steps(1) infinite;
      @media screen and (max-width: 900px) {
        font-size: 3rem;
      }
    }
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }
    .descript {
      margin-top: 2em;
    }
    .stroke {
      user-select: none;
      margin-top: -60px;
      font-size: 4.5rem;
      line-height: 1;
      -webkit-text-stroke: 0.008em #fff;
      //-webkit-text-stroke: 1px #fff;
      color: transparent;

      @media screen and (max-width: 900px) {
        font-size: 3rem;
      }
    }
  }
}
